In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv('/Users/saisisir/Downloads/Sisir Entain Laptop/Self Learning /Machine Learning/Kaggle Practice/8. Lasso Regression/melb_data.csv')

In [5]:
data.nunique()

Suburb             314
Address          13378
Rooms                9
Type                 3
Price             2204
Method               5
SellerG            268
Date                58
Distance           202
Postcode           198
Bedroom2            12
Bathroom             9
Car                 11
Landsize          1448
BuildingArea       602
YearBuilt          144
CouncilArea         33
Lattitude         6503
Longtitude        7063
Regionname           8
Propertycount      311
dtype: int64

In [6]:
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [7]:
data.isna().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [33]:
data.shape

(13580, 19)

In [34]:
data['BuildingArea'] = data['BuildingArea'].fillna(data.BuildingArea.mean())

In [35]:
data['Car'] = data['Car'].fillna(0)

In [36]:
data.drop('CouncilArea', axis = 1, inplace = True)

KeyError: "['CouncilArea'] not found in axis"

In [37]:
from sklearn.preprocessing import OrdinalEncoder
oe =  OrdinalEncoder()

data = oe.fit_transform(data)

In [38]:
x = data[:, :-1]
y = data[:, -1]
y = y.reshape(-1,1)

In [39]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [40]:
y

array([[157.],
       [157.],
       [157.],
       ...,
       [223.],
       [223.],
       [227.]])

In [41]:
x

array([[0.0000e+00, 1.2794e+04, 1.0000e+00, ..., 3.4830e+03, 3.3650e+03,
        2.0000e+00],
       [0.0000e+00, 5.9430e+03, 1.0000e+00, ..., 3.2770e+03, 3.2470e+03,
        2.0000e+00],
       [0.0000e+00, 9.8140e+03, 2.0000e+00, ..., 3.2390e+03, 3.2700e+03,
        2.0000e+00],
       ...,
       [3.0500e+02, 1.2745e+04, 2.0000e+00, ..., 2.1750e+03, 1.2930e+03,
        6.0000e+00],
       [3.0500e+02, 1.3311e+04, 3.0000e+00, ..., 2.0130e+03, 1.4150e+03,
        6.0000e+00],
       [3.1300e+02, 1.0776e+04, 3.0000e+00, ..., 3.1730e+03, 1.2300e+03,
        6.0000e+00]])

In [42]:
data.isna().sum()

AttributeError: 'numpy.ndarray' object has no attribute 'isna'

In [43]:
data.drop('YearBuilt', axis = 1, inplace = True)

AttributeError: 'numpy.ndarray' object has no attribute 'drop'

In [21]:
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,151.96765,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.00000,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.00000,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,151.96765,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.00000,-37.8072,144.9941,Northern Metropolitan,4019.0

In [31]:
data.isna().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

In [45]:
x = data[:, :-1]
y = data[:, -1]

In [47]:
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()

lin_reg.fit(x_train, y_train)
lin_reg.score(x_test, y_test)

0.04630502748739207

In [48]:
lin_reg.score(x_train, y_train)

0.05775121344442036

In [49]:
#Ridge Regression L2
from sklearn.linear_model import Ridge
rid_reg = Ridge(alpha = 0.1, max_iter = 100, tol = 0.1)
rid_reg.fit(x_train, y_train)
rid_reg.score(x_train, y_train)
rid_reg.score(x_test, y_test)

0.04630514858075441