In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv(r"C:\Users\sisir.sahu\Self Learning2\Machine Learning\Kaggle Practice\5. SVR\bangalore house price prediction OHE-data.csv")

In [3]:
data.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [4]:
x = data.drop('price', axis = 1)

In [5]:
#segregating the dependent variable 
y = data['price']

In [6]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [7]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(x_train)
x_train = sc.transform(x_train)
x_test = sc.transform(x_test)

In [9]:
#SVR with kernel rbf 
from sklearn.svm import SVR
svr_rbf = SVR(kernel = 'rbf')
svr_rbf.fit(x_train, y_train)
svr_rbf.score(x_test, y_test)

0.37781199149073197

In [10]:
#SVR with kernel = 'linear'
svr_linear = SVR(kernel='linear')
svr_linear.fit(x_train, y_train)
svr_linear.score(x_test, y_test)

0.8305928347448266

In [11]:
#SVR with kernel = 'poly'
svr_poly = SVR(kernel='poly',degree=2,)
svr_poly.fit(x_train, y_train)
svr_poly.score(x_test, y_test)

0.07507719012985958

We saw diff SVR kernels. While Rbf gave us 37% accuracy, poly gave us 75% accuracy Linear SVR gave us 83% acccuracy.
We will therefore go by Linear Kernel

In [12]:
y_pred = svr_linear.predict(x_test)
y_pred

array([43.19885209, 60.99136762, 67.27983898, ..., 55.78948695,
       16.06984069, 47.01531075])

In [15]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.8305928347448266

In [16]:
y_test, y_pred

(960      47.0
 132      60.0
 2431     65.0
 2229    325.0
 4503     60.0
         ...
 4970     48.0
 553     205.0
 1397     56.5
 4056     26.0
 1817     49.0
 Name: price, Length: 1424, dtype: float64,
 array([43.19885209, 60.99136762, 67.27983898, ..., 55.78948695,
        16.06984069, 47.01531075]))