In [1]:
import numpy as np # linear algebra
import pandas as pd

In [2]:
# import libraries for plotting
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
data = pd.read_csv(r'C:\Users\sisir.sahu\Downloads\Machine Learning\Decision Tree Classifier\salaries.csv')

In [4]:
data1 = data.copy()

In [5]:
data.isnull().sum()

company                  0
job                      0
degree                   0
salary_more_then_100k    0
dtype: int64

In [6]:
data.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   company                16 non-null     object
 1   job                    16 non-null     object
 2   degree                 16 non-null     object
 3   salary_more_then_100k  16 non-null     int64
dtypes: int64(1), object(3)
memory usage: 640.0+ bytes

In [11]:
#Split data into x and y    
x = data.iloc[:, :-1].values
y = data.iloc[:, -1].values

y = y.reshape(-1, 1)

In [12]:
#split x and y into training and test dataset
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [13]:
#scale the target variable
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder()

x_train = oe.fit_transform(x_train)
x_test  = oe.transform(x_test)

In [14]:
#scaling not required in tree based algorithms

#Import decision tree classifier model
from sklearn.tree import DecisionTreeClassifier
clr = DecisionTreeClassifier()
clr.fit(x_train, y_train)
y_pred = clr.predict(x_test)

In [15]:
#Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[2 0]
 [1 1]]

In [16]:
#Accuracy Score or Recall
from sklearn.metrics import accuracy_score
ac = accuracy_score(y_test, y_pred)
ac

0.75

In [18]:
#Classification report
from sklearn.metrics import classification_report
classification_report(y_test, y_pred)

'              precision    recall  f1-score   support\n\n           0       0.67      1.00      0.80         2\n           1       1.00      0.50      0.67         2\n\n    accuracy                           0.75         4\n   macro avg       0.83      0.75      0.73         4\nweighted avg       0.83      0.75      0.73         4\n'

In [20]:
bias = clr.score(x_train, y_train) 
variance = clr.score(x_test, y_test)

print(bias, variance)

1.0 0.75